"""
Description: Dump Port SerDes Parameters
Timeout: 10
Variables:
 fpp_or_index(str): List of FPP or Indexes of Ports
 lanes(str): list of lane indexes for output. 0 based. Default for all lanes
 detail(str): True for more detail include stage and mode. Default False
 display_in_table(str): True to display data in table, False to display data in lines. Default True
Defaults:
 fpp_or_index:
 lanes:
 detail: "False"
 display_in_table: "True"
"""
{% if fpp_or_index -%}
{% if lanes -%}
dapi.dump_port_serdes_params(fpp_or_index=[{{fpp_or_index}}],lanes=[{{lanes}}],detail={{detail}},displat_in_table={{display_in_table}})
{% else %}
dapi.dump_port_serdes_params(fpp_or_index=[{{fpp_or_index}}],detail={{detail}},displat_in_table={{display_in_table}})
{% endif %}
{% else %}
dapi.dump_port_serdes_params(detail={{detail}},displat_in_table={{display_in_table}})
{% endif %}