"""
Description: Test Command to test the functionality of the parser.
Timeout: 10
Variables:
 name(str): the name of the string
 ttl(int): the time to live
Defaults:
 name: Cisco
"""
print({{name}})
